{% extends "layout.html" %}
{% block title %}App Users{% endblock %}
{% block page %}App Users{% endblock %}

{{ super() }}

{% block content %}
    <div class="row">
        <p>
            This is table is renderd on the Server. Flask gets the data from the database and uses jinja templates to dyanmically render this page when a request is sent to <a href="/usrs">/users</a>.
        </p>
    </div>
    <div class="row">
      <table>
        <thead>
          <tr>
            <th>Id</th><th>Receiver ID</th><th>Sender ID</th><th>Distr ID</th>
          </tr>
        </thead>
        <tbody>
          {% for user in users %}

            <div class="row">
              <div class="col s12 m7">
                <div class="card">
                  <div class="card-image">
                    <img src="">
                  </div>
                  <div class="card-content">
                    <p>User id: {{user.id}}</p>
                    <p>username: {{user.username}}</p>
                    
                    
                  </div>
                  <div class="card-action">
                    <a href="/api/profile/{{user.id}}">View Profile</a>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}

            {% for feed in feeds %}
            <tr>
                <td>{{feed.id}}</td>
                <td>{{feed.receiverID}}</td>
                <td>{{feed.senderID}}</td>
                <td>{{feed.distID}}</td>
            </tr>
            {% endfor %}
          
        <tbody>
      </table>
    </div>
{% endblock %}