{% extends "layout.html" %}
{% block title %}Sven{% endblock %}
{% block page %}Sven{% endblock %}

{{ super() }}

{% block content %}
    <h1>SVEN</h1>

    <div class="row">
        <div class="col s12 m5">
          <div class="card">
            <div class="card-image">
              <img src="https://th.bing.com/th/id/OIP.neWgU4ez8SXmavfal6pAvwHaFj?pid=ImgDet&rs=1">
              <span class="card-title">Card Title</span>
            </div>
            <div class="card-content">
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
              <a href="#">This is a link</a>
            </div>
          </div>
        </div>
      </div>

{% endblock %}