{% extends "layout.html" %}
{% block title %}LogIn/SignUp{% endblock %}
{% block page %}Sven{% endblock %}

{{ super() }}

{% block content %}


{% if user %}
<div class="column is-4 is-offset-4">
  <h1 class="title">{{ user.username }}</h1>
    {% if user.id ==current_user.id%}
      <div class="box">
          <form method="POST" action="/newimage">

              <div class="field">
                  <div class="control">
                      <input class="input is-large" type="text" name="url" placeholder="url" autofocus="">
                  </div>
              </div>

              <div  class = "input-field s" style="margin-left: 10px; text-decoration-color: white;">
                <button class=" light-blue accent-3 btn waves-effect waves-grey button">   <a style="color: white;" >Post image </a> </button>
              </div>

          </form>
      </div>
    {% endif%}
</div>

  {% for img in user.images%}

    <div class="row">
      <div class="col s12 m4">
        <div class="card">

          <div class="card-image">
            <img src="{{img.url}}">
          </div>
          
        
          <div class="card-action">
            
            <div>
              {% if user.id ==current_user.id%}
                <a class=" light-blue accent-3 btn waves-effect waves-grey button"   href="/delete/image/{{img.id}}">delete</a>
              {% endif%} 
            </div>

            <!--Put rating stars here-->
            
                <div class="rating">
                    <input name="ratingw" value="1" type="radio" id="star1" />
                    <label for="star1" class="full"> </label> 

                    <input name="rating" value="2" type="radio" id="star2" />
                    <label for="star2" class="full">   </label>

                    <input name="rating" value="3" type="radio" id="star3" />
                    <label for="star3" class="full">   </label>

                    <input name="rating" value="4" type="radio" id="star4" /> 
                    <label for="star4" class="full">   </label>

                    <input name="rating" value="5" type="radio" id="star5" />
                    <label for="star5" class="full">   </label>
                </div>
                
                <style>
                  
                  .card-action{
                    height: 50px;
                  }

                  .rating{
                    border: none;
                    float: left;
                  }

                  .rating > input { 
                    display: none;
                  }

                  .rating > label:before{
                    content: 'star';
                    font-family: 'Material Icons';
                    font-size: 2rem;
                    display: inline-block;
                    cursor: pointer;
                    margin-top: -10px;
                    margin-right: 5px;
                  }

                  .rating >label{
                    color: dimgray;
                    float: right;
                    cursor: pointer;
                  }

                  .rating > input:checked ~ label,
                  .rating:not(:checked) > label:hover,
                  .rating:not(:checked) > label:hover ~ label{
                    color:orange;
                  }

                  .rating > input:checked + label:hover,
                  .rating > input:checked ~ label:hover,
                  .rating > label:hover ~ input:checked ~label,

                  .rating > input:checked ~ label:hover ~label{
                    color: orange;
                  }


                </style>
                <script>
                  
                </script>

                
          </div>

        </div>

      </div>
    </div>
  {% endfor%}

{% endif%}

{% endblock %}